body {
    background-color:#034748;
}

h1 {
    color: #1481BA;
}

.deckIcon{
    width: 70px;
    height: 70px;
}

.cardInDeck{
    width: 340px;
}

.cardImg{
    width: 110px;
    margin: 10px;
}

.cardImg:hover{
    width: 250px;
    position: absolute;
    z-index: 1;
}

