<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck Builder</title>
    <script src="{{ url_for('static', filename='appTwo.js') }}"></script>
    <link rel="stylesheet" href="/static/stylesTwo.css">

    
Certainly! Here's the consolidated version with the additional font link:

html
Copy code
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet:wght@200;300&family=Roboto:wght@100;300;500&family=Outfit:wght@400;500;800&display=swap" rel="stylesheet">


</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>