{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="header">
    <div class="headerLeft">

    </div>
    <div class="headerCenter">
        <form action="/" method="POST">
            {{form.hidden_tag() }}
            {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                {{field.label}}
                {{field}}
        
                {% for err in field.errors %} 
                {{err}}
                {% endfor %}
            </p>
        
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="headerRight">

    </div>
</div>
<div class="cardDisplay">
    {% if card_data %}
    <h2>Search Results</h2>
    <div id="search-results">
      {% for card in card_data %}
        <img src="{{ card.imageUrl }}" alt="{{ card.name }}" class="cardImg">
      {% endfor %}
    </div>
  {% endif %}   

</div>

{% endblock %}