{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="homeHeader">
  <div class="headerImg"></div>
  <div class="headerTextShell">
    <h1 class="homeTitle">MTG Deck Builder</h1>
    <span class="headerDesc">Customize your own Magic the gathering deck</span>
    <br>
    <span class="headerDesc">Create your deck, then search for cards to add and save to your deck</span>
  </div>
</section>
<div class="deckContainer">
  <p>Welcome, {{ username }}! Your user ID is {{ user_id }}. <a href="{{ url_for('logout') }}">Logout</a></p>
    <form class="deckForm" action="/" method="POST">
      {{form.hidden_tag() }}
      {% for field in form
      if field.widget.input_type != 'hidden' %}
          <p>
              {{field.label}}
              {{ field(placeholder='Deck name') }}
          
              {% for err in field.errors %} 
              {{err}}
              {% endfor %}
           </p>
          
      {% endfor %}
          <button type="submit">Submit</button>
    </form>
  <img src="/../images/dragon.png" alt="">
  <section class="deckList">
    {% if deck_names %}
            {% for user_deck in user_deck_result %}
                <div class="deck-link" data-deck-id="{{ user_deck.deck.id }}">
                  <img class="deckImg" src="{{ url_for('static', filename='images/magicDeckHeader.png') }}" alt="deck pic">
                  <span class="deckName">{{ user_deck.deck.deck_name }}</span>
                  <div class="countShell">
                    <span>Cards: </span><span class="deckCount">{{ user_deck.card_count }}</span>
                  </div>
                </div>
                
            {% endfor %}
    {% endif %}
  </section>
</div>
<div class="rotatingDisplay">


</div>

{% endblock %}