{% extends "base.html" %}

{% block content %}
<h1>SEARCH ROUTE</h1>
<form action="{{ url_for('card_search') }}" method="POST">
    {{form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
        
            {% for err in field.errors %} 
            {{err}}
            {% endfor %}
         </p>
        
    {% endfor %}
        <button type="submit">Submit</button>
</form>
<div class="searchDisplay">
    {% if card_data %}
    <h2>Search Results</h2>
    <section class="searchResults">
      {% for card in card_data %}
        <img src="{{ card.imageUrl }}" alt="{{ card.name }}" data-type="{{ card.type }}" data-cmc="{{ card.cmc }}" data-color="{{ card.colorIdentity }}" class="cardImgSearch">
      {% endfor %}
    </section>
  {% endif %}   
</div>

{% endblock %}

